main{
  text-align:center;
  // margin-left: 15px;
  // margin-right: 15px;
}

#about{
  background-color: $color-grey;
  padding-bottom: 1rem;

  & p{
    margin-left:15px;
    margin-right:15px;
  }

  & h2{
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

#skills{
  padding-top: 1rem;
}

.container-skill{

   h3{
    margin-top: 3rem;
    color:$light-blue;
    font-family: 'Permanent Marker', cursive;
  }

}

.bookmatcher{
  width: 100%;
}

.gradeit{
  width:100%;
}

.portfolio-logos img {
  width:12%;
  height:12%;
}

#portfolio{
  background-color: $color-grey;


  & h2{
    margin-top: 3rem;
    padding-top: 2rem;
    
  }

  & h3{
    color:$light-blue;
    font-weight: 900;
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 1rem;
  }

  & h4{
    font-family: 'Permanent Marker', cursive;
  }
}

.portfolio-container{
    padding-top:4rem;

    & p {
      padding-top: 2rem;
      padding-bottom: 1rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }


.github{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:2rem;
  padding-bottom: 2rem;

  &-img{
    width:4rem;
    height:4rem;
    
  }
}
