
html {
    font-size: 62.5%;
    font-family: 'Ruda', sans-serif;

    @include respond(mobile){
        font-size: 78%
    }

    @include respond(tablet){
        font-size: 90%
    }

    @include respond(tablet-horizontal){
        font-size: 100%
    }
}

.italic{
    font-style:italic;
}

.underline-white{
	text-decoration: underline white;
}

.underline-orange{
	text-decoration: underline rgb(247, 226, 137);
}

.underline-dark{
    text-decoration: underline black;
}
