
html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;

    @include respond(mobile){
        font-size: 73.5%
    }
}

.italic{
    font-style:italic;
}

.underline-white{
	text-decoration: underline white;
}

.underline-orange{
	text-decoration: underline rgb(247, 226, 137);
}

.underline-dark{
    text-decoration: underline black;
}
